<div class="saving-list-wrapper">
  <div class="saving-text">
     <p>Start Saving Food</p>
  </div>
  <div class="list-icon">
     <img src="https://cdn-icons-png.flaticon.com/512/1069/1069138.png" alt="list-img" class="list-img" />
     <p>My first list</p>
     <p>Go to the magic button and hold product for each day</p>
  </div>
  <div>
     <%= link_to "CREATE", new_list_path, class: "create-btn" %>
  </div>
</div>
