<h1>Recipes of the world</h1>
<div class="button">
    <%= link_to "Give us a new recipe", new_recipe_path %>
</div>

<% @recipes.each do |recipe| %>
   <%= link_to recipe.title,  recipe_path(recipe) %>
<% end %>

<div class="map-wrapper">
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
