<div class="icon-wrapper">
    <%= link_to root_path do %>
     <i class="fa-solid fa-house-user fa-2x" style="color: #fff"></i>
   <% end %>

     <i class="fa-solid fa-comments fa-2x" style="color: #fff"></i>

   <i class="fa-solid fa-circle-plus fa-2x" style="color: #fff"></i>
   <i class="fa-sharp fa-solid fa-location-dot fa-2x" style="color: #fff"></i>
   <i class="fa-solid fa-compass fa-2x" style="color: #fff"></i>
</div>
