<div class="user-wrapper">
   <% if user_signed_in? %>
         <%= image_tag "https://cdn-icons-png.flaticon.com/512/3033/3033143.png" , class: "avatar dropdown-toggle", id: "navbarDropdown",   data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% @user.email %>
             <p>Enjoy and start to saving food</p>
        <% else %>
        <div class="nav-item">
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/3033/3033143.png" , class: "avatar dropdown-toggle", id: "navbarDropdown",   data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%= link_to "Please login", new_user_session_path, class: "nav-link" %>
        </div>
    <% end %>
</div>
