.global-wrapper {
    overflow: hidden;
    overflow: scroll;
  }

  .page-wrapper {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }

  .search-wrapper,
  .banner-wrapper,
  .options-wrapper {
    margin-bottom: 20px;
  }

  .search-wrapper {
    position: relative;
  }

  .couple-wrapper {
    display: flex;
    cursor: pointer;

  }

  .couple-wrapper i {
    margin-bottom: 40px;
  }

  .couple-text {
    margin-left: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    color: #5D6A0D;
  }

  .menu-wrapper {
    margin-left: 30px;
  }

  .roll-menu-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    background-color: #5D6A0D;
  }

  .roll-menu-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 30px;
  }

  .fooda-text {
    font-weight: bold;
  }

  .saving-list-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
  }

  .list-img {
    width: 120px;
    height: 120px;
  }

  .list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
  }

  .saving-text {
    font-size: 2rem;
    font-weight: bold;
  }
